<div class="dashboard-points pull-right"><p><%= current_points %></p></div>
<h2>Dashboard</h2>
<p id="notice"><%= notice %></p>

<br/>
<p>Yo,
<span style="font-size:36px;">  <%= @user.login %> </span>
  ... Zeit für etwas Training!
</p>
<br/>

<hr>

<!-- Ziele -->

<span style="font-size:36px;">Ziele <br/></span>

<%if @aim.nil? %>

    <br/><p> Hier kannst du ein Ziel definieren
    <span style="font-size:36px;"><%= link_to ">ADD AIM!", new_aim_path %></span>
   </p>

<% else %>

    Aktuelles Ziel: <%= @aim.name %> <br/>

    <% if @aim.aim_progresses.empty? %>

        <br/>
        <p>  Is Leer Hier kannste Ziel Loggen_
        <span style="font-size:36px;"><%= link_to ">ADD AIM-PROGRESS!", aim_path(@aim.id) %></span>
        </p>
    <% else%>

        <br/>
        <p>Ziel: <%=  @aim.category.name %> <%=  @aim.value   %> <%= @aim.category.unit.name %>
        <p/>
        <div id="chart_div"></div>

        Zielfortschritt Loggen !
        <span style="font-size:36px;"><%= link_to ">ADD AIM-PROGRESS!", aim_path(@aim.id) %></span>

    <% end %>

<% end %>

<hr>

<!-- Workout_Plan -->
<span style="font-size:36px;">Trainingspläne<br/></span>

<%if !@actual_workout_plan.nil? %>


    <br/><p> Aktueller Trainingsplan: <%= link_to @actual_workout_plan.name, workout_plan_path(@actual_workout_plan.id)%></p>

    <br/>
    <!-- table -->
    <p><table class="table table-condensed">
      <thead>
      <tr>
        <th>Trainingstage</th>
      </tr>
      </thead>
      <tbody>
      <% @actual_workout_plan.workout_days.each_with_index do |day| %>
          <tr>
            <td><%= link_to day.day , log_workout_path(:id => day.id)%></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <p/>

<% else %>

Der Wizzard:
    <span style="font-size:36px;"><%= link_to ">Wizzard!", :do_wizzard %></span>

<% end%>

<hr>
<!-- Workout_Sessions -->
<span style="font-size:36px;">Trainings Sessions<br/></span>

<%if !@actual_workout_session.nil? %>

  <br/>
    Letzte Trainings Session:
  <br/>
  <br/>
    <!-- table -->
    <p><table class="table table-condensed">
  <thead>
  <tr>
    <th>Datum</th>
    <th>Trainingstag</th>
  </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= link_to @actual_workout_session.date.strftime("%d.%m.%Y"), workout_session_path(@actual_workout_session.id) %></td>
        <td><%=  @actual_workout_session.workout_day.day%></td>
      </tr>
  </tbody>
</table>
<% else %>
    <br/>
    Such dir ein Tag zum Loggen im > <span style="font-size:36px;"><%= link_to "Trainingsplanbereich !", workout_plans_path %>
    </span>
<% end%>

<hr>


Letztes Workout (übungen) -> Trendanzeige
<br/>
Trendtabelle
<br/>



<span style="font-size:36px;"><%= link_to "Log Workout Now!", new_workout_session_path %></span>
<p>What can I do further?</p>
<p>Statistics, Aims, Progress, etc...</p>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">

        google.load("visualization", "1", {packages:["corechart"]});

        <% if !@aim.nil? %>
        google.setOnLoadCallback(drawChart);



        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Date', '<%=@aim.category.unit.name%>', 'Ziel: <%=@aim.category.unit.name%>'],

                    <%
                        size = @aim.aim_progresses.size
                        index = 0
                    %>

                    <% @aim.aim_progresses.each do | pro | %>

                      <%if index < size %>
                        ['<%= pro.logging_date.strftime("%d.%m.%Y") %>',  <%= pro.value %>,  <%= @aim.value %>],
                      <% else %>
                        ['<%= pro.logging_date.strftime("%d.%m.%Y") %>',  <%= pro.value %>,  <%= @aim.value %>]

                        <% index =+ index %>
                       <% end %>
                <% end %>


            ]);

            var options = {
                title: 'Ziel: <%= @aim.name %>, Category: <%= @aim.category.name %>'
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

        <% end %>

</script>