<h1>Your Workoutsession at:</h1>
<p id="notice"><%= notice %></p>

<div class="span4 well pull-right">
  <div class="nav nav-list">
    <div class="nav-header">
      Log your Progress as often as you can!
    </div>
    <p>
      Lorem ipsum dolor sit amet, consecur
    </p>
  </div>
</div>
<%= form_tag workout_session_path, :method => :put, :class => 'form-horizontal' do %>
    <fieldset>
      <legend>Workout from:</legend>
      <%= text_field 'session', 'date', :value => @workout_session.date.strftime("%d.%m.%Y") %>

      <% @exerciseList.each do |e,thrills| %>
          <legend><%= e.name %></legend>
          <% thrills.each_with_index do |t, i| %>
              <% index = i.to_s %>
              <div id="exercises_<%= e.id.to_s %>_' + index + '" class="thrill well">
                <id><%= e.id.to_s %></id>
                <h3>Set 1</h3>
                <div class="close">&times;</div>
                <%= label_tag 'exercises['+e.id.to_s+']_' + index + '_multiplier', 'Wdh.', :class => 'control-label' %>
                <%= hidden_field 'exercises['+e.id.to_s+'][' + index + ']', 'id', {:value => e.id}%>
                <%= hidden_field 'exercises['+e.id.to_s+'][' + index + ']', 'thrill_id', {:value => t[:id]}%>
                <%= hidden_field 'exercises['+e.id.to_s+'][' + index + ']', 'thrillNumber', {:value => index}%>
                <%= text_field 'exercises['+e.id.to_s+'][' + index + ']', 'multiplier', {:value => t[:multiplier], :class => 'input-xlarge trigger_next'} %>
                <%= label_tag 'exercises['+e.id.to_s+']_' + index + '_value', 'Value', :class => 'control-label', :style => 'width:80px' %>
                <%= text_field 'exercises['+e.id.to_s+'][' + index + ']', 'value', {:value => t[:value], :class => 'input-xlarge trigger_next'} %>
              </div>
          <% end %>
      <% end %>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Update!</button>
      </div>
    </fieldset>
<% end %>