<h1>Editing user</h1>

<p id="notice"><%= notice %></p>

<!-- Form für User und Address -->

<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.hidden_field :login, {:id=>"user_login_original", :name => "user[login][original]"} %>
      <%= f.label :login %><br />
      <%= f.text_field :login %>
    </div>

    <div class="field">
      <%= f.hidden_field :email, {:id=>"user_email_original", :name => "user[email][original]"} %>
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <hr/>
    <div class="field">
      <%= f.label :forename %><br />
      <%= f.text_field :forename %>
    </div>
    <div class="field">
      <%= f.label :surname %><br />
      <%= f.text_field :surname %>
    </div>
    <div class="field">
      <%= f.label :date_of_birth %><br />
      <%= f.text_field :date_of_birth %>
    </div>
    <div>
    <%= f.radio_button :gender, "male" %>
      <b>male</b>
    <%= f.radio_button :gender, "female" %>
      <b>female</b>
    </div>

    <hr/>
    <h3>Address</h3>
    <%= fields_for @user.address do |i| %>
        <div class="field">
          <%= i.label :street %> <br />
          <%= i.text_field :street %>
        </div>

        <div class="field">
          <%= i.label :zip %><br />
          <%= i.text_field :zip %>
        </div>

        <div class="field">
          <%= i.label :city %><br />
          <%= i.text_field :city %>
        </div>
        <div class="field">
          <%= i.label :country_id %><br />
          <%= i.select :country_id, @_controller.get_country_selection_list, {:prompt => "Select Country"} %>
        </div>

    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<hr />
<%= button_to('Destroy', @user, :confirm => 'Are you sure?',:method => "delete") %>
<hr />

<script type="text/javascript">
      $(document).ready(function () {

          $.validator.messages.remote = "already taken";

          $.validator.addMethod("optionalPasswordEquals",
                                function(value, element) {
                                    if ($("#user_password").val().length > 0) {
                                        return $("#user_password").val() == $("#user_password_confirmation").val();
                                    } else {
                                        return true;
                                    }
                                },
                                "Passwords not equal");

          $.validator.addMethod("loginRemote", function(value, element) {
              if ($("#user_login_original").val() == $("#user_login").val()) {
                  return "dependency-mismatch";
              }
              return $.validator.methods.remote.apply(this, arguments);
          }, "Username already taken");

          $.validator.addMethod("emailRemote", function(value, element) {
              if ($("#user_email_original").val() == $("#user_email").val()) {
                  return "dependency-mismatch";
              }
              return $.validator.methods.remote.apply(this, arguments);
          }, "EMail already taken");


          $("*[id*=edit_user_]").validate({
              onchange:  true,
              rules: {
                  "user[login]": {
                      required: true,
                      minlength: 4,
                      loginRemote: {
                          url: "/users/check_username",
                          type: "post"
                      }
                  },
                  "user[password]": {
                      required: false,
                      minlength: 4
                  },
                  "user[password_confirmation]": {
                      required: function(element) {
                          return $("#user_password").val().length > 0;
                      },
                      optionalPasswordEquals: true,
                      minlength: 4
                  },
                  "user[email]": {
                      required: true,
                      email: true,
                      emailRemote: {
                          url: "/users/check_email",
                          type: "post"
                      }
                  },
                  "user[forename]": {
                      required: true
                  },
                  "user[surname]": {
                      required: true
                  },
                  "user[date_of_birth]": {
                      required: true
                  },
                  "user[gender]": {
                      required: true
                  }
              } ,
              messages: {
                  "user[login]": {
                    required: "This field is required.",
                    minlength: jQuery.format("At least {0} characters required!")
                  }
              }

          });

          $("#user_date_of_birth").datepicker({
              yearRange: '-60Y:-14Y',
              changeYear : true,
              changeMonth: true,
              dateFormat : 'dd.mm.yy'
          })

      });

</script>
