<h1>Editing user</h1>

<!-- Form für User und Address -->

<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :login %><br />
      <%= f.text_field :login %>
    </div>

    <%= fields_for @user.address do |i| %>
        <p>
              <p>Deniz</p>
          <%= i.label :street %>
          <%= i.text_field :street %>
        </p>

    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
