<h1>Editing user</h1>

<!-- Form für User und Address -->

<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :login %><br />
      <%= f.text_field :login %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <hr/>
    <div class="field">
      <%= f.label :forename %><br />
      <%= f.text_field :forename %>
    </div>
    <div class="field">
      <%= f.label :surname %><br />
      <%= f.text_field :surname %>
    </div>
    <div class="field">
      <%= f.label :date_of_birth %><br />
      <%= f.text_field :date_of_birth %>
    </div>
    <div>
    <%= f.radio_button :gender, "male" %>
      <b>male</b>
    <%= f.radio_button :gender, "female" %>
      <b>female</b>
    </div>
      <!--<div>
      <input id="gender_male" name="gender" type="radio" value="MALE" checked=@checked />
      <b>male</b>
        <input id="gender_female" name="gender" type="radio" value="FEMALE"=@checked />
      <b>female</b>
    </div>-->

    <hr/>
    <h3>Address</h3>
    <%= fields_for @user.address do |i| %>
        <div class="field">
          <%= i.label :street %> <br />
          <%= i.text_field :street %>
        </div>

        <div class="field">
          <%= i.label :zip %><br />
          <%= i.text_field :zip %>
        </div>

        <div class="field">
          <%= i.label :city %><br />
          <%= i.text_field :city %>
        </div>
        <div class="field">
          <%= i.label :country_id %><br />
          <%= i.select :country_id, @_controller.get_country_selection_list, {:prompt => "Select Country"} %>
        </div>

    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= button_to('Destroy', @user, :confirm => 'Are you sure?',:method => "delete") %>


<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

<script type="text/javascript">

  $(document).ready(function(){

      $(document).ready(function () {
          $("*[id*=edit_user_]").validate({
              onchange:  true,
              rules: {
                  "user[login]": {required: true, minlength: 2}
              }
          });

      });

  });

</script>
