<%= form_for(@workout_day) do |f| %>
  <% if @workout_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout_day.errors.count, "error") %> prohibited this workout_day from being saved:</h2>

      <ul>
      <% @workout_day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %><br />
    <%= f.text_field :day %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
