<h1>Listing aims</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>Einheit</th>
    <th>Category</th>
    <th>is_active?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aims.each do |aim| %>
  <tr>
    <td><%= aim.name %></td>
    <td><%= aim.value %></td>
    <td>
    <% if !aim.category.nil? %>
        <%= aim.category.unit.name %>
    <% else %>
      <%= "No Unit" %>
    <% end %></td>
    <td>
      <% if !aim.category.nil? %>
        <%= aim.category.name %>
      <% else %>
          <%= "No Category" %>
        <% end %>
    </td>
    <td>
      <%= aim.is_active?%>
    </td>

    <td><%= link_to 'Activate', invert_active_aim_path(aim), :method => 'put'%></td>
    <td><%= link_to 'Show', aim %></td>
    <td><%= link_to 'Edit', edit_aim_path(aim) %></td>
    <td><%= link_to 'Destroy', aim, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aim', new_aim_path %>
