<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @aim.name %>
</p>

<p>
  <b>Value:</b>
  <%= @aim.value %>
</p>

<p>
  <b>Category:</b>
  <%=
      if !@category.nil?
        link_to @category.name, @category
      end
  %>
</p>
<hr>
<p>
  <b>Aim Progresses:</b>
  <% if !(@aim.aim_progresses.nil?)  %>

      <!-- table -->
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>Datum</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <% @aim.aim_progresses.each_with_index do |pro| %>
          <tr>
            <td><%= link_to pro.logging_date.strftime("%d.%m.%Y") , edit_aim_progress_path(:id => pro.id)%></td>
            <td><%= pro.value %> <%= @aim.category.unit.name %> </td>
          </tr>
      <% end %>
      </tbody>
    </table>

  <% end %>

</p>

<hr>

<b>Add a Progress</b>

<%= form_tag add_new_aim_pro_aim_path do %>
    Value: <%= text_field_tag "aim_progress_value"%>
    Date: <%= text_field_tag "aim_progress_logging_date"%>
    <%= hidden_field_tag "aim", :id => @aim.id%>
    <%= submit_tag 'add', :class => 'btn btn-primary' %>
<% end %>




<%= link_to 'Edit', edit_aim_path(@aim) %> |
<%= link_to 'Back', aims_path %>

<script type="text/javascript">
    $(document).ready(function () {


        $("#aim_progress_logging_date").datepicker({
            setDate: new Date(),
            dateFormat : 'dd.mm.yy'
        })

    });

</script>