<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
  <title>BodykitMe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "jquery.validate.min" %>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/dashboard" style="color:white">Bodykit.Me</a>
      <ul class="nav">
        <% if current_user %>
            <li class="active">
              <%= link_to "Dashboard", url_for(:action => 'index', :controller => 'member_area')%>
            </li>
            <li>
              <%= link_to "Logged Workouts", workout_sessions_path%>
            </li>
            <li>
              <%= link_to "My Workout Plans", workout_plans_path%>
            </li>
            <li>
              <%= link_to "My Aims", aims_path%>
            </li>
            <li>
              <%= link_to "Exercises", exercises_path%>
            </li>
        <% end %>
      </ul>
      <ul class="nav pull-right">
        <% if current_user %>
            <li>
              <%=  link_to "Logout", logout_path %>
            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a href="#"
                 class="dropdown-toggle"
                 data-toggle="dropdown">
               <i class="icon-cog icon-white"></i>
               <%= current_user.login %>
               <b class="caret"></b>
              </a>
              <ul class="dropdown-menu pull-right">
                <li>
                  <%= link_to "Edit profile", edit_user_path(current_user)  %>
                </li>
              </ul>
            </li>
        <% else %>
            <li>
              <%=  link_to "Register", new_user_path %>
            </li>
            <li>
              <%= link_to "Login", login_path %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="container" style="margin-top:50px;">

  <div id="content">

    <%= yield %>

  </div>
  <footer style="text-align:center">
    <hr/>
    <span style="letter-spacing: 2em;">
      <img src="<%= image_path "berlin-flag.png" %>" style="padding-bottom:4px;vertical-align: middle">
        MADE IN BERLIN
      <img src="<%= image_path "germany-flag.jpeg" %>" style="padding-bottom:4px;vertical-align: middle">
    </span>
  </footer>
</div>

</body>
</html>
