<!DOCTYPE html>
<html>
<head>
  <title>Bodykit.Me</title>
  <link href="/assets/application.css" media="all" rel="stylesheet" type="text/css">
  <meta charset="utf-8">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <section id="head">
      <div style="margin:18px 0px">
      <div class="row">
          <div class="span4">
            <h1>BodyKit.Me <small>- Just do it!</small></h1>
          </div>
          <div class="span8">
            <ul class="nav nav-pills pull-right">
                <li class="active" id="linkFeatures">
                  <a href="#">Features</a>
                </li>
                <li>
                  <a href="#">Mobile</a>
                </li>
                <li>
                  <a href="#">Screenshots</a>
                </li>
                <li class="dropdown" id="login">
                  <a class="dropdown-toggle"
                     data-toggle="dropdown"
                     href="#login">
                    Login
                    <b class="caret"></b>
                  </a>
                  <form class="dropdown-menu pull-right" style="padding: 15px" action="<%= user_sessions_path %>" method="post">
                    <input name="user_session[login]" type="text" class="input-medium" placeholder="Login">
                    <input name="user_session[password]" type="password" class="input-medium" placeholder="Password">
                    <div style="text-align: center">
                      <%= link_to "forgotten password?", new_password_reset_path %>
                      <button type="submit" class="btn">Login</button>
                    </div>
                  </form>
                </li>
            </ul>
          </div>
       </div>
      </div>

       <div class="hero-unit" style="position:relative">
         <h1>Log your workout!</h1>
         <p>It's completely FREE!</p>
         <p>&nbsp;</p>
         <p>YOU CAN MAKE IT!</p>
         <a class="btn btn-primary btn-large">SignUp</a>
         <%= form_tag "#{users_path}.json", :method => "post", :remote => true,
                      :id => "registrationForm", :class => "well",
                      :style=>"position:absolute;right:-10px; top:0px;
                 margin-top: 20px;
                 -moz-box-shadow:    0 1px 3px rgba(0,0,0,.25);
                 -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25);
                 box-shadow:         0 1px 3px rgba(0,0,0,.25);
         " do %>

           <h2>Register now!</h2>
           <div class="feedback"></div>
           <div class="alert alert-error" id="errorContainer" style="display:none"></div>
           <div id="register-login" class="control-group">
               <label>Username</label>
               <%=  text_field_tag "user[login]", nil, :placeholder => "Chose a Username"%>
               <span id="register-error-login"></span>
           </div>
           <div id="register-email" class="control-group">
               <label>E-Mail</label>
               <%=  text_field_tag "user[email]", nil, :placeholder => "E-Mail"%>
               <span class="register-error-email"></span>
           </div>
           <a href="#">Privacy Policy</a>
           <br/>
           <input type="checkbox" name="checkTos"> Read, agreed & understood
           <br/>
           <%= submit_tag "Register", :class => "btn", :disable_with => "Registering"%>
         <% end %>
       </div>
  </section>
  <div id="references">
    <blockquote>
      <p>
        It is such an amazing tool! I gained 30 pounds of pure Musclemass and can now track all
        my development! Also the premium Mobile-Apps are stunning! A++
      </p>
      <small>Ronny Coleman, IFBB-Pro</small>
    </blockquote>
  </div>
  <section id="features">
    <div class="page-header">
        <h1>Features <small>Yes, this app will change your workout.</small></h1>
    </div>
      <ul class="thumbnails">
        <li class="span4">
          <h3>Thumbnail label</h3>
          <div class="thumbnail">
            <img src="http://placehold.it/300x180" />
            <div class="caption">
              <p>lorem ipsum dolor sit amet</p>
            </div>
          </div>
        </li>
        <li class="span4">
          <h3>Thumbnail label</h3>
          <div class="thumbnail">
            <img src="http://placehold.it/300x180" />
            <div class="caption">
              <p>lorem ipsum dolor sit amet</p>
            </div>
          </div>
        </li>
        <li class="span4">
          <h3>Thumbnail label</h3>
          <div class="thumbnail">
            <img src="http://placehold.it/300x180" />
            <div class="caption">
              <p>lorem ipsum dolor sit amet</p>
            </div>
          </div>
        </li>
      </ul>
  </section>
  <section id="mobile">
    <div class="alert alert-info">
      <strong>We're getting mobile!</strong>
      Soon we will launch the iOS and Android Versions of Bodykit.me.
    </div>
  </section>
  <footer>
    <p>&copy; 2012 by line030.</p>
  </footer>
</div>
<script type="text/javascript">
  $(document).ready(function () {
      //jQuery.validator.setDefaults({
    //    errorPlacement: function (error, element) {
          //        console.log(error.size());
          //        $(".feedback").addClass("alert alert-error");
          //        error.appendTo($(".feedback"));
          //        $(".feedback").show();
          //    }
    //});

    $("#linkFeatures").click(function () {
        $("html,body").animate({scrollTop: $("#features").offset().top}, "fast");
    });

    $("#registrationForm")
            .bind('ajax:success', function(e, data, status, xhr) {
                $("#errorContainer").hide();

                $(".control-group").removeClass("error");
                    jQuery('<button>', {
                        type: "button",
                        class: "close",
                        "data-dismiss": "alert"
                    }).html("x").appendTo($(".feedback"));
                $(".feedback").addClass("alert alert-success")
                        .html("<strong>Thank you!</strong> Please check your Inbox");
                $(".feedback").show();
                console.log(jQuery.parseJSON(xhr.responseText));
            })
            .bind('ajax:error', function(e, xhr, status, error) {
                $(".control-group").removeClass("error");
                $(".control-group").removeClass("success");
                $(".feedback").hide();

                jQuery.each(jQuery.parseJSON(xhr.responseText), function(i, val) {
                    $("#register-"+i).addClass("error");
                })
            });

      //validation of registration
      $("#registrationForm").validate({
          errorContainer: "#errorContainer",
          errorLabelContainer: "#errorContainer" ,
          rules: {
              "user[login]": {
                  required: true,
                  minlength: 4
              },
              "user[email]": {
                  required: true,
                  email: true
              },
              "checkTos": {
                  required: true
              }
          },

          messages: {
              "user[login]": {
                  required: "Username is required"
              },
              "user[email]": {
                  required: "Email is required",
              },
              "checkTos": {
                  required: "Please read & accept our ToS"
              }
          }
      });
  })
</script>
</body>
</html>
